
*{
  margin:0;
  padding:0;
  font-size: 16px;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
}

h1, h2{
  font-weight: bold;
}
.rightSecWrap{
  margin-top:20px;
}
.rightSecWrap  button{
  display: block;
  margin-top:20px;
}
.navbar>.container.headerNavLink{
  display: block;
}
.headerNavLink a{
  color: #fff;
  font-size:20px;
  font-weight: bold;
  margin-left: 20px;
  float:left
}